.download {
	align-items: center;
	svg {
		display: block;
		margin: 0.390625vw 1.875vw 0 0;
		height: 1.24609375vw;
		width: 1.69375vw;

		g {
			fill: color( body );
			transition: fill 250ms ease;
		}
	}

	&:hover {
		g {
			fill: color( rollover );
		}
	}
}