$typography: (
	
);

:root {
	--wrap-mobile: 1.25rem;
	--wrap-desktop: 1.5rem;
}

$z-index: (
	header : 20,
	splash: 10,
	nav: 1000,
);

$breakpoint: 860px;

$colors: (
	body   : #735D53,
	light  : #FCF6F4,
	primary: #0073AA,
	rollover: #FFAABA,
	login : #C4B9B1
);

$points: (
	x-small: rem(414px),
	small  : rem(600px),
	medium : rem(768px),
	large  : rem(1024px),
	x-large: rem(1296px),
);


