.floorplan-nav {
	position: relative;

	ul {
		margin: 6vw 0 0 0;
		padding: 0 1.75vw 0 1.75vw;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		max-height: 0;
		height: 0;
		width: 100%;

		@include break {
			margin: 2.5vw 0 0 0;
			padding: 0 0.625vw 0 0.625vw;
		}

		li:nth-child(2) {
			padding: 4vw 0 0 0;

			@include break {
				padding: 2vw 0 0 0; 
			}
		}

		li:last-child {
			padding: 0 0 4vw 0;

			@include break {
				padding: 0 0 1.25vw 0;
			}			
		}
	}

	[data-floor]:hover {
		color: color( rollover );
		cursor: pointer;
		display: inline-block;
		transition: color 250ms ease;
	}

	&__current {
		position: relative;
		z-index: 2;
		align-items: center;
		cursor: pointer;
		margin: 0 0 1.64vw 0;
		transition: color 250ms ease;

		&:hover {
			color: color( rollover );

			svg path {
				fill: color( rollover );
				transition: fill 250ms ease;
			}
		}

		svg {
			transform: rotate( 0deg );
			transition: transform 250ms ease;
			margin: 1.28vw 0 1.538vw 1.282vw;
			height: 2.0512vw;
			width: 4.089vw;

			@include break {
				margin: 0.39vw 0 0 0.234vw;
				height: 0.62vw;
				width: 1.24vw;
			}
		}
	}
}

.has-floorplan-nav {
	.floorplan-nav {
		ul {
			transition: max-height 250ms ease;
			height: auto;
			overflow: visible;
			max-height: 1000px;
		}

		&__current {
			color: color( rollover );

			svg {
				transform: rotate(-180deg);
			}

			svg path {
				fill: color( rollover );
			}
		}
	}
}