.full-width-image {
	position: relative;
	margin: 0 0 61.538vw 0;

	@include break {
		margin: 0 0 28.125vw 0;
	}

	video,
	img {
		width: 100%;
	}
}

.full-width-video {
	cursor: pointer;

	&.full-width-image {
		margin: 0 0 30vw 0;

		@include break {
			margin: 0 0 14.125vw 0;
		}
	}
}

.video-is-playing {
	.full-width-video {
		#seek-bar {
			opacity: 1;
		}
	}
}