.hero {
	width: 100%;

	&__standfirst {
		> div {
			grid-column-start: 1;
			grid-column-end: 3;
			padding: 61.53vw var( --wrap-mobile ) 61.53vw var( --wrap-mobile );

			@include break {
				padding: 13.59375vw 0 27.96875vw 0;
			}
		}

		.download {
			margin: 10.255vw 0 0 0;

			@include break {
				margin: 3.59375vw 0 0 0;
			}
		}
	}
}