.offset-image-pair {
	align-items: flex-start;
	padding: 0 var( --wrap-mobile );
	margin: 0 0 59.487vw 0;

	@include break {
		margin: 0 0 27.34375vw 0;
		padding: 0;
	}

	figure {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	figure:first-child {
		@include break {
			margin: 14.0625vw 0 0 0;
		}
	}

	figure + figure {
		@include break {
			grid-column-start: 3;
			grid-column-end: 5;
		}
	}
}