.schedule-of-areas {
	padding: 0 0 14.0625vw 0;

	header {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	td {
		padding: 1.09375vw 0 1.40625vw 0;
	}

	table {
		border-bottom: 1px solid color( body );
		grid-column-start: 3;
		grid-column-end: 5;
	}

	tbody tr:last-child td {
		@extend %font-bd;
	}
}