.schedule-of-areas {
	padding: 0 var( --wrap-mobile ) 30.769vw var( --wrap-mobile );

	@include break {
		padding: 0 0 14.0625vw 0;
	}

	table,
	header {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	th,
	td {
		padding: 4.358vw 0 5.897vw 0;

		@include break {
			padding: 1.25vw 0 1.71875vw 0;
		}
	}

	th {
		text-align: left;
	}

	table {
		border-bottom: 1px solid color( body );

		@include break {
			grid-column-start: 3;
			grid-column-end: 5;
		}
	}

	tbody tr:last-child td {
		@extend %font-bd;
	}
}