.site-header {
	padding: var( --wrap-desktop ) 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: z( header );

	&__title {
		grid-column-start: 1;
		grid-column-end: 3;
	}	

	&__desc {
		grid-column-start: 3;
		grid-column-end: 5;
	}
}
