.snippets-standfirst {
	padding: 0 var( --wrap-mobile );
	margin: 0 0 61.538vw 0;

	@include break {
		margin: 0;
	}

	.standfirst {
		grid-column-start: 1;
		grid-column-end: 3;
		margin: 0 0 26.92vw 0;

		@include break {
			grid-column-start: 3;
			grid-column-end: 5;
			margin: 0 0 14.765625vw 0;
		}
	}
}