.snippets {
	margin: 0 0 61.538vw 0;

	&.grid {
		padding: 0;
	}

	@include break {
		margin: 0 0 27.5vw 0;
	}

	@media screen and ( max-width: $breakpoint ) {
		row-gap: 30.76vw;
	}
}

.snippet {
	flex-direction: column;
	gap: 11.2vw;

	@include bp( 640px ) {
		grid-area: span 1 / span 2;
	}

	@include bp( 1024px ) {
		grid-area: span 1 / span 1;
	}

	@include break {
		gap: 7.265625vw;
	}

	figure {
		aspect-ratio: 350 / 224;
		position: relative;
		width: 100%;
	}

	@media screen and ( max-width: $breakpoint ) {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	h2 {
		font-size: inherit;
	}

	div div {
		line-height: 1.25;
	}

	img {
		width: 100%;
	}
}