.standfirst-gallery {
	padding: 0 var( --wrap-mobile );
	
	@include break {
		padding: 0;
		margin: 0 0 28.125vw 0;
	}

	.gallery,
	.standfirst {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.standfirst {
		margin: 0 0 30.769vw 0;
	}

	.gallery {
		width: 100%;


		@include break {
			transform: translateY( -2.34375vw );
			grid-column-start: 3;
			grid-column-end: 5;			
		}

		.swiper-navigation {
			@include break {
				padding: 0 0 2.5vw 0;
			}
		}

		.swiper-button-prev {
			left: 0;
		}

		.swiper-button-next {
			right: 0;
		}
	}
}