.text-fixed-images {
	padding: 0 var( --wrap-mobile );
	@include break {
		margin: 0 0 14.0625vw 0;
		padding: 0;
	}

	header,
	article {
		> div:not(.text-fixed-images__small) {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}

	header {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	header + div {
		@media screen and ( max-width: $breakpoint ) {
			border-top: unset;
		}
	}

	article {
		margin: 0 0 30.762vw 0;

		@include break {
			margin: 0 0 7.34375vw 0;
		}

		+ div {
			padding: 0 0 61.53vw 0;
			align-items: flex-end;

			@include break {
				padding: 0;
			}
		}

		> div:not(.text-fixed-images__small) {
			@include break {
				grid-column-start: 3;
				grid-column-end: 5;
			}
		}
	}

	figure + figure {
		@include break {
			margin: 1.875vw 0 0 0;
		}
	}

	&__small,
	&__square {
		@include break {
			grid-row-start: 1;
			grid-row-end: 1;
		}
	}

	&__small {
		display: flex;
		column-gap: 5.128vw;
		justify-content: space-between;
		grid-column-start: 1;
		grid-column-end: 3;

		@include break {
			display: block;
			grid-column-start: 1;
			grid-column-end: 2;
		}
	}

	&__square {
		grid-row-start: 1;
		grid-row-end: 1;
		grid-column-start: 1;
		grid-column-end: 3;

		@include break {
			grid-column-start: 3;
			grid-column-end: 5;
		}
	}

}