.text {
	padding: 0 var( --wrap-mobile );
	margin: 0 0 27.17vw 0;

	@include break {
		padding: 0;
		margin: 0 0 14.453125vw 0;
	}

	.grid {
		@media screen and ( max-width: $breakpoint ) {
			row-gap: 0;
		}
	}

	header,
	div {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	header {
		@include break {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}

	div {
		@include break {
			grid-column-start: 3;
			grid-column-end: 5;
		}

		&.keyline {
			@media screen and ( max-width: $breakpoint ) {
				padding-top: 0;
				border-top: unset;
			}
		}
	}
}