.thumbnail-gallery {
	margin: 0 0 61.534vw 0;

	@include break {
		margin: 0 0 14.0625vw 0;
	}
}

.swiper-navigation {
	position: relative;
	margin: 0 0 0.78125vw 0;
}

.swiper-button-prev {
	transform: rotate( 180deg );
}

.swiper-button-prev,
.swiper-button-next {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	left: 0;
	height: 4.089vw;
	width: 5.55vw;

	@include break {
		width: 1.717vw;
		height: 1.246vw;		
	}
}