.thumbnail-gallery {
	margin: 0 0 14.0625vw 0;

	
}

.swiper-navigation {
	position: relative;
	margin: 0 0 0.78125vw 0;
}

.swiper-button-prev {
	transform: rotate( 180deg );
}

.swiper-button-prev,
.swiper-button-next {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	width: 1.717vw;
	height: 1.246vw;
	left: 0;
}