@font-face {
	font-family: 'BrutBold';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local('Brut Bold'),
	     local('Brut-Bold'),
	     url('fonts/Brut_Grotesque_WEB-Bold.woff2') format('woff2'),
	     url('fonts/Brut_Grotesque_WEB-Bold.woff') format('woff');
}

@font-face {
	font-family: 'BrutRegular';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local('Brut Regular'),
	     local('Brut-Regular'),
	     url('fonts/Brut_Grotesque_WEB-Regular.woff2') format('woff2'),
	     url('fonts/Brut_Grotesque_WEB-Regular.woff') format('woff');
}