*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	text-size-adjust: 100%;
}

body {
	margin: 0;
	color: color(body);
	background: #fff;
}

main {
	overflow: hidden;
}

input[type=submit],
input[type=button],
button,
a {
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	// transition: color 200ms ease;
	cursor: pointer;
}

img {
	height: auto;
	max-width: 100%;
	transition: 200ms;
	transition-property: opacity;
	vertical-align: middle;

	&[data-src] {
		position: absolute;
		opacity: 0;
	}
}

article,
aside,
figure,
footer,
header,
main,
nav {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
embed,
fieldset,
figure,
iframe,
img,
legend,
object {
	padding: 0;
	border: 0;
	margin: 0;
}
