html {
	font: normal 400 100%/1.2 'BrutRegular', sans-serif;
}

body {
	font-size: clamp( 1rem, 4.102vw, 2.46rem );

	@include break {
		font-size: clamp( 0.7439025rem, 1.25vw, 2rem );
	}
}

a {
	transition: color 250ms ease;
	text-decoration: none;
	color: color(body);

	&:hover {
		color: color(rollover);
	}

	&[href^='mailto:'],
	&[href^='tel:'] {
		white-space: nowrap;
	}
}

ul {
	list-style: none;
}

th {
	font-weight: normal;
	font-style: normal;
}

.text {
	&\:md {
		font-size: clamp( 1rem, 4.10256vw, 2.46rem );

		@include break {
			font-size: clamp( 0.930125rem, 1.5625vw, 2.5rem );
		}
	}
	&\:sf {
		font-size: clamp( 1.625rem, 6.66vw, 4rem );

		@include break {
			font-size: clamp( 1.854625rem, 3.125vw, 5rem );
		}
	}
}

.font {
	&\:bd {
		@extend %font-bd;
	}
}

::selection {
	color: color( body );
	background: color( rollover );
}